form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(73, 94, 87, 0.8); 
    width: 50%;
    height: 100%;
    padding:5rem;
    color: #ffffff;
}
label {
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0.5rem;
    font-size: 14pt;
}
.errText {
    color:red;
    font-size: 14px;
}
.dateSection input {
    font-family: 'Karla', sans-serif;
}
.formElem{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.formElem input, select {
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 16pt;
    font-family: 'Karla', sans-serif;
    text-align: center;
    border: none;
    
}
.formElem input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
   
    color: transparent;
    cursor: pointer;
    height: 10%;
    
    position: absolute;
    
    width: 100%;
}

.formElem input:focus, select:focus{
    border: none;
    outline-color:rgba(73, 94, 87, 0.8)  ;
}


form button {
    padding: 1rem 8.4rem 1rem 8.4rem;
    background-color:#F4CE14; 
    border: none;
    border-radius: 16pt;
    margin-top: 1rem;
    font-weight: bold;
    font-family:'Karla', sans-serif ;
    font-size: 11pt;
    cursor: pointer;
    
    
}

form button:hover{
    background-color: #C2A009;
   
}

@media screen and (max-width: 768px) {
    form{
        width: 100%;
        height: 100%;
        background-color: rgba(73, 94, 87, 0.8);

    }

    form h1 {
        font-size: 32pt;
        margin-top: 1rem;
    }
    
    

}