.chicagoSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

}


.left, .right {
    width: 50%;
}
.chicagoSection img {
    height: 400px;
    width: 400px;
    
}
.img1 {
    transform: translateY(20%);
    margin-top: 3rem;
    margin-right: -10rem;
}
.left {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
      .right { display: none;}
      .left {
        width: 100%;
      }
      p{
        font-size: 13pt;
      }

}   