footer  {
 display: flex;
 height: 100%;
 width: 100%;
 height: auto;
 justify-content: center;
 position: relative;

 background-color: #495e57;
 padding-bottom: 1rem;
 padding-top: 3rem;
}

footer div {
    flex: 0 1 24%;
    
    
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Karla',sans-serif;
    font-size: 16pt;
}




footer li {
    color: #ffffff;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Karla',sans-serif;
    font-size: 16pt;
}
.navigation{
   margin-top: -15px;
}
.logo img{
    width: 4rem;
    height: 6rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
footer h2 {
    color: #F4CE14;
}




@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        
        
    }
    footer div {
        flex: 1;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
    .logo {
        display: none;
    }

}