*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}



h1, h2, h3 {
  font-family: 'Markazi Text', serif;
  

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Karla', sans-serif;
    max-width: 65ch;
    line-height: 1.5;
    font-size: 18pt;
}

q {
  
  
  font-family: 'Karla', sans-serif;
  max-width: 65ch;
  line-height: 1.5;
  font-size: 18pt;
}

h1 {
  font-size: 44pt;
}

h2 {
  font-size: 22pt;
}